@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещён";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">К сожалению у вас нет доступа к данному разделу.</p>
</header>
