@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Используйте данные для входа на сайт.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.EmailOrUserName"></label>
                    <input asp-for="Input.EmailOrUserName" class="form-control" />
                    <span asp-validation-for="Input.EmailOrUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Пароль</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Войти</button>
                </div>
                <div class="form-group">
                    <p>
                        <a class="text-dark" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
