@model SwordsAndSlimes.WEB.Models.CharacterIndexViewModel

@{
    ViewBag.Title = "Создать персонажа";
    Layout = "_Layout";
}

<h1>Создание персонажа</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attack" class="control-label"></label>
                <input asp-for="Attack" class="form-control" />
                <span asp-validation-for="Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defence" class="control-label"></label>
                <input asp-for="Defence" class="form-control" />
                <span asp-validation-for="Defence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritDamage" class="control-label"></label>
                <input asp-for="CritDamage" class="form-control" />
                <span asp-validation-for="CritDamage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritChance" class="control-label"></label>
                <input asp-for="CritChance" class="form-control" />
                <span asp-validation-for="CritChance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyRecharge" class="control-label"></label>
                <input asp-for="EnergyRecharge" class="form-control" />
                <span asp-validation-for="EnergyRecharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endurance" class="control-label"></label>
                <input asp-for="Endurance" class="form-control" />
                <span asp-validation-for="Endurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Обратно в список</a>
</div>